*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border:none;
	text-decoration: none;
} 

header{
	display: flex;
	justify-content: space-between;
	background-color: #E27D5F;
	height: 70px;
	align-items: center;
	padding: 0 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav{
	width: 464px;
	display: flex;
	justify-content: space-between;
}

nav a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	transition: 0.3s ease-in-out;
}

nav a:hover{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog{
	height: 77vh;
	padding: 0 150px;
}

.head{
	height: 52px;
	background: #7CC2A9;
	box-shadow: 0px 4px 0px #40B3A2;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 27px 0 42px 0;
}

h1{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}

.bookcard{
	display: flex;
	margin-bottom:60px;
}

.bookinf{
	height: 213px;
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h2{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #A8A8A8;
	margin:15px 0;
}

h3{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

button{
	width: 173px;
	height: 55px;
	background: #E27D5F;
	box-shadow: 0px 4px 0px #CC6749;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	align-self: center;
	transition: 0.3s ease-in-out;
}

button:hover{
	box-shadow: none;
	border:2px solid #CC6749;
}

.wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
footer{
	height: 214px;
	background-color: #E27D5F;
	display: flex;
	justify-content: space-between;
	padding: 0 150px;
	align-items: center;
}

.column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#c1{
	height: 90px;
}

#c2{
	height: 114px;
}

#c2 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

#c2 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	padding-top: 5px;
}

#c1 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.8);
}

.column nav{
	height: 118px;
	flex-direction: column;
}

.column nav a{
	color:#fff;
}































