*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	outline: none;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #E27D5F;
	height: 70px;
	align-items: center;
	padding: 0 150px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav{
	width: 464px;
	display: flex;
	justify-content: space-between;
}

nav a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	transition: 0.3s ease-in-out;
}

nav a:hover{
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner{
	background-image: url(img/BGbanner.svg);
	background-size: cover;
	height: 410px;
	position: relative;
}

.banner p{
	position: absolute;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	width: 656px;
	color: #FFFFFF;
	top:97px;
	right: 184px;
}
.banner2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 33vh;
	width: 1500px;
	padding: 20px 633px 30px 247px;
}
.banner2 h3{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
	padding-bottom: 15px;
}
.banner2 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}


footer{
	height: 214px;
	background-color: #E27D5F;
	display: flex;
	justify-content: space-between;
	padding: 0 150px;
	align-items: center;
}

.column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#c1{
	height: 90px;
}

#c2{
	height: 114px;
}

#c2 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

#c2 a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	padding-top: 5px;
}

#c1 p{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.8);
}

.column nav{
	height: 118px;
	flex-direction: column;
}

.column nav a{
	color:#fff;
}






















